*{
  @include font-smoothing;
  letter-spacing: $letter-spacing;
}

html{
  @include media-breakpoint-only(xs) { font-size: 16px; }
  @include media-breakpoint-only(sm) { font-size: 16px; }
  @include media-breakpoint-only(md) { font-size: 16px; }
  @include media-breakpoint-only(lg) { font-size: 18px; }
  @include media-breakpoint-only(xl) { font-size: 20px; }
  body{
    @include screen-size-marker;
    .website-root{
      @import 'root-header';
      @import 'root-body';
      @import 'root-footer';
    }//.website-root
  }//body
}//html
