.brand{

  a.logo{
    display: block;
    min-width: 40%;
    max-width: 75%;
    margin:  0 auto;
    margin-bottom: 1rem;
    text-decoration: none;
    img{}
  }

  a.title{
    #{headings()}{
      font-family: $font-family-sans;
      font-weight: normal;
      text-align: center;
      text-decoration: none;
      small{
        display: block;
        font-size: 10px;
        font-family: $font-family-sans;
        text-transform: uppercase;
      }
    }
  }


}
