
//
// Color system
//

$white:    #ffffff;
$black:    #111111;
$gray-50:  lighten($black, 95%);
$gray-100:  lighten($black, 90%);
$gray-150:  lighten($black, 85%);
$gray-200:  lighten($black, 80%);
$gray-250:  lighten($black, 75%);
$gray-300:  lighten($black, 70%);
$gray-350:  lighten($black, 65%);
$gray-400:  lighten($black, 60%);
$gray-450:  lighten($black, 55%);
$gray-500:  lighten($black, 50%);
$gray-550:  lighten($black, 45%);
$gray-600:  lighten($black, 40%);
$gray-650:  lighten($black, 35%);
$gray-700:  lighten($black, 30%);
$gray-750:  lighten($black, 25%);
$gray-800:  lighten($black, 20%);
$gray-850:  lighten($black, 15%);
$gray-900:  lighten($black, 10%);
$gray-950:  lighten($black, 5%);

$grays: ();
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "50": $gray-50,
    "100": $gray-100,
    "150": $gray-150,
    "200": $gray-200,
    "250": $gray-250,
    "300": $gray-300,
    "350": $gray-350,
    "400": $gray-400,
    "450": $gray-450,
    "500": $gray-500,
    "550": $gray-550,
    "600": $gray-600,
    "650": $gray-650,
    "700": $gray-700,
    "750": $gray-750,
    "800": $gray-800,
    "850": $gray-850,
    "900": $gray-900,
    "950": $gray-950
  ),
  $grays
);


$blue:    #105187;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #C33325;
$orange:  #F19722;
$yellow:  #ffc107;
$green:   #51934D;
$teal:    #20c997;
$cyan:    #2C8693;

$colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

$primary:       $red;
$secondary:     $gray-800;
$success:       desaturate($green, 70%);
$info:          desaturate($cyan, 70%);
$warning:       desaturate($yellow, 57%);
$danger:        desaturate($orange, 70%);
$light:         $gray-150;
$dark:          $gray-500;

$theme-colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

// Set a specific jump point for requesting color jumps
$theme-color-interval:      9.5%;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:  150;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark:             $gray-900;
$yiq-text-light:            $white;
