.font-sans{
  font-family: $font-family-sans;
}


.font-serif{
  font-family: $font-family-serif
  
}

.text-small{
  font-size: 0.8rem;
}

.text-12{
  font-size: 12px;
}

.text-13{
  font-size: 13px;
}

.text-14{
  font-size: 14px;
}
