ol.bible-reference{
  padding: 1rem;
  margin: 0;
  background-color: $gray-150;
  column-count: 2;
  font-size: 13px;
  line-height: 1.75;
  font-style: italic;
  li{
    margin-left: 1rem;;
  }//li
}
