table.table{
  &.table-sm{
    font-size: $font-size-sm;
    th,td{
      padding: 0.3rem;
    }
  }


  a{
    color: $body-color;
    text-decoration: none;
    &:hover{
      color:$primary;
    }
  }



}
