table.table{
  // font-size: $font-size-sm;
  // font-family: $font-family-sans;

  &.table-sm{
    font-size: $font-size-sm;
  }


  a{
    color: $body-color;
    text-decoration: none;
    &:hover{
      color:$primary;
    }
  }

  th,td{
    // padding: 0.3rem;
  }

}
