.region-local-task{
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: $white;

  .container{
    .row{
      .col{
        ul{
          padding: 0;
          margin: 0;
          list-style: none;
          text-align: center;
          @extend .pt-4;

          li{
            padding: 0;
            margin: 0;
            display: inline-block;
            border-right: 1px solid $border-color;
            &:last-child{
              border-right: none;
            }
            a{
              display: block;
              padding: 0.25rem 0.75rem;
              text-decoration: none;
              color: $gray-500;
              border-bottom: 2px solid transparent;
              line-height: 1;
              &.is-active, &:hover{
                color: $primary;
                border-bottom: 2px solid $primary;
              }
            }//a
          }//li
        }//ul
      }//.col
    }//.row
  }//.container
}//.region-local-task
