.layout-body{

  .body-breadcrumb{
    font-size: 75%;
  }//.body-breadcrumb


  .body-top{
    border-bottom: 4px double $border-color;
  }//.body-top

  .body-featured-trigger{
    padding: 1rem;
    padding-bottom: 0;
  }//.body-featured-trigger

  .body-featrued{
    margin-top: 1rem;
    // background-color: rgba($white, 0.6);
    // border: 1px solid $gray-100;
    // padding: 1rem;
    // font-size: 75%;
  }//.body-featured

  .body-main{

    article{
      // background-color: rgba($white, 0.333);
      // padding: $spacer * 3;
      // border: 1px solid rgba($gray-100, 0.666);
      #{headings()}{
        // padding-top: $spacer * 2;
        // padding-bottom: $spacer / 3;
        // color: $gray-300;
        line-height: 3;
      }

      p{
        margin-bottom: 1rem;
      }
    }

  }//.body-main


  @import 'components/buttons';
  @import 'components/breadcrumb';
  @import 'components/inline-links';
  @import 'components/table';
  @import 'components/metabox';
  @import 'components/publish-info';
  @import 'components/paragraph';
  @import 'components/question-list';

}//.layout-body
