.layout-header{
  @extend .fixed-top;
  @extend .border-bottom;
  position: sticky;
  top: 0;
  z-index: 1071;
  // height: $header-height;
  // min-height: $header-height;
  // max-height: $header-height;
  .header-top{
    padding-top: $header-spacer;
    padding-bottom: $header-spacer;
    a{
      color: $body-color;
      text-decoration: none;
    }
    #{headings()}{
      padding-bottom: 0;
      margin-bottom: 0;
      line-height: 1;
      font-weight: normal;
      &.website-title{
      }
      &.website-tagline{
        color: $gray-600;
      }
    }

    @extend .h-60;
    @extend .bg-light;
  }//.header-top

  .header-bottom{
    @extend .h-40;
    @extend .bg-dark;
  }//.header-bottom


  @import 'components/main-menu';

}//.layout-header
