.font-size{
  &-95{ font-size: 95%;}
  &-90{ font-size: 90%;}
  &-85{ font-size: 85%;}
  &-80{ font-size: 80%;}
  &-75{ font-size: 75%;}
  &-70{ font-size: 70%;}
  &-65{ font-size: 65%;}
  &-60{ font-size: 60%;}
}
