
html{
  @include media-breakpoint-only(xs) { font-size: 16px; }
  @include media-breakpoint-only(sm) { font-size: 16px; }
  @include media-breakpoint-only(md) { font-size: 18px; }
  @include media-breakpoint-only(lg) { font-size: 20px; }
  @include media-breakpoint-only(xl) { font-size: 22px; }
  body{
    // @include font-smoothing;
    @import 'header-banner';
    @import 'sidebar-left';
    @import 'sidebar-right';
    @import 'footer';
  }
}
