sup{
  color: $primary;
  font-weight: $font-weight-bold;
  font-family: $font-family-sans;
  // @include appearance(none);
  // @include border-radius(1rem);
  // background-color: grayscale($primary);
  // display: inline-block;
  // text-align: center;
  // font-size: 0.6rem;
  // height: 0.8rem;
  // width: 0.8rem;
  // line-height: 0.6rem;
  // padding: 0.1rem;
  // letter-spacing: 0;
  // overflow: hidden;
}
