ol.bible-reference,
ul.bible-reference {
  padding: 0;
  margin: $spacer $spacer * 2;
  font-size: 0.8rem;
  font-family: $font-family-sans;
  // font-style: italic;
  color: $gray-800;
  li{border-bottom: 1px dotted $gray-200;}
}
