.publish-info{
  font-size: 0.8rem;
  margin-top: $spacer;
  margin-bottom: $spacer;
  font-family: $font-family-sans;
  border-left: 5px solid $gray-350;
  padding-left: $spacer/2;
  line-height: 1;
}
